body{
    background-color: rgb(18, 22, 33);
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header{
    display: flex;
    background-color: rgb(27, 33, 48);
    min-height: 70px;
    padding: 10px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a, header a{
    text-decoration: none;
    color:rgb(163, 171, 190);
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: rgb(250, 199, 106);
}

/* Sección Hero */

.hero{
    display: flex;
    justify-content: center;
    min-height: 800px;
    background-color: blueviolet;

    position: relative;
    background-image: url(imagenes/hero_fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(10, 15, 30, 0.5);
}

.hero-contenido{
    display: flex;
    /* background-color: brown; */
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    z-index: 1;
}

.hero-contenido img{
    max-width: 350px;
    padding-bottom: 40px;
}

.hero-contenido h1{
    color: white;
    font-size: 40px;
    padding-bottom: 25px;
}

.hero-contenido button{
    height: 45px;
    width: 150px;

    /* Quitar estilo del botón por defecto */
    border: none;
    background: none;

    background-image: url("imagenes/boton_ui.png");
    background-size: cover;
    background-position: center;

    cursor: pointer;

    color: rgb(30, 36, 53);
}

.destacado{
    color: rgb(250, 199, 106);
}

/* Sección Rasgos */

.rasgos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rasgos .destacado{
    font-size: 75px;
}

.rasgos p{
    max-width: 30%;
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 90px;
    color: rgb(222, 220, 220);
}

.rasgos h2{
    padding-top: 40px;
    color: white;
}

/* Sección Noticias */

.noticias{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 800px;
    background-color: aqua;    
}

.noticias-contenido{
    display: flex;
    max-width: 1200px;
    gap: 20px;
}

.noticias h2{
    color: white;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.noticias-contenido > div {
    flex: 1;
}

.noticias-contenido div{
    background-color: blueviolet;
}

.noticias-contenido img{
    width: 100%;
}

.noticias-contenido h3{
    font-size: 27px;
    color: rgb(222, 220, 220);
}

.noticias-contenido p{
    font-size: 15px;
    color:rgb(190, 198, 218)
}

/* Sección Plataformas */

.plataformas{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    min-height: 800px;
    background-color: blueviolet;
}

.plataformas-contenido{
    display: flex;
    background-color: brown;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.plataformas-contenido img{
    max-width: 350px;
    padding-bottom: 40px;
}

.plataformas-contenido h2{
    color: white;
    font-size: 40px;
    padding-bottom: 25px;
}

.plataformas-contenido p{
    width: 50%;
    font-size: 20px;
    color: rgb(222, 220, 220);

}

.plataformas-contenido .destacado{
    font-size: 70px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    .noticias-contenido {
        flex-direction: column;
    }
}

